{% extends 'public.html.twig' %}

{% block body %}

    <div class="container">
        <div class="card card-container">

            <h2>Just one more thing...</h2>
            <p>
                I've sent you an email so that I can confirm your email address.
                Please follow the instructions contained to complete your registration.
            </p>

            <div class="pull-left">
                <a href="{{ path('login_route') }}" class="form-signin-link">
                    Login
                </a>
            </div>
        </div>
    </div>

{% endblock %}
