{% extends 'public.html.twig' %}

{% block body %}

    <div class="container">
        <div class="card card-container">

            <p>
                Registration submitted - please check your email to complete your registration.
            </p>

        </div>
    </div>

{% endblock %}
