{% extends 'public.html.twig' %}

{% block body %}

    <div class="container">
        <div class="card card-container">

            <p>
                Hello <strong>{{ userHash.userFullName|default('user') }}</strong>,
                please choose a new password.
            </p>

            <form id="form-reset-password" class="form-signin" method="POST" action="{{ path('resetPassword', {'hashValue' : userHash.value}) }}">

                {% include 'PTSUserRegistrationBundle:Public:partials/passwordInputFields.html.twig' %}

                <button id="reset-submit" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" />Reset Password</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% include 'PTSUserRegistrationBundle:Public:partials/passwordValidationJavascript.html.twig' %}
{% endblock %}
