<div id="password-inputs" class="form-group has-feedback">
    {{ form_row(form.newPassword.first, { 'attr': {'class': 'form-control' }}) }}
    {{ form_row(form.newPassword.second, { 'attr': {'class': 'form-control' }}) }}
</div>

Password Strength:
<div class="progress">
    <div id="complexity-bar" class="progress-bar" role="progressbar">0%</div>
</div>
